<h3>Available Roles</h3>

<div class="row">
    <div class="col-10">
        <table class="table table-bordered table-hover">
            <thead class="table-warning">
                <tr>
                    <th>#</th>
                    <th>Role Id</th>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{role.roleId}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



























<!-- <div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor="let item of roleList">{{item.role}}</li>
    </ul>
  </div>

  <div class="col-4">
    <select class="form-select" aria-label="Default select example">
        <option *ngFor="let role of roleList" [value]="role.roleId">{{role.role}}</option>
    </select>
  </div>
</div> -->









<!-- <div class="row">
    <div class="col-3">
        <p> {{employeeName}}</p>
    </div>
    <div class="col-3">
        <p>
            Joined us in : {{createdAt}}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <label for="exampleEmailInput1" class="form-label">Enter Email Address</label>
        <input type="text" class="form-control" placeholder="user@example.com" [value]="employeeName">
    </div>
    <div class="col-3">
        <label for="exapplechangeinput" class="form-label">See the values get change</label>
        <input type="text" class="form-control" [(ngModel)]="employeeName">
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button class="btn btn-primary" (click)="showWelcomeAlert()">Show Welocme Alert</button>
    </div>
</div>


<-- Toast container -->
<!-- <div class="toast-container position-fixed bottom-0 end-0 p-3" aria-live="polite" aria-atomic="true">
    <div id="welcomeToast" class="toast align-items-center text-bg-primary border-0" role="status" aria-live="polite" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Welcome to App {{employeeName}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div> -->
