<h3>Available Designations</h3>

<div class="row">
  @if (isLoader) {
  <div class="col-12 text-center">
    <div class="spinner-grow spinner-grow-sm text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }@else {

  <div class="col-10">
    <table class="table table-bordered table-hover">
      <thead class="table-warning">
        <tr>
          <th>#</th>
          <th>Designation Id</th>
          <th>Designation Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let designation of designationList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ designation.designationId }}</td>
          <td>{{ designation.designation }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  }
</div>
