<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group ">
      <button
        type="button"
        class="btn border rounded-start-5"
        (click)="changeTab('Roles')"
        [ngClass]="currentComponent == 'Roles' ? 'btn-dark' : 'btn-light'"
      >
        Roles
      </button>
      <button
        type="button"
        class="btn btn-light border rounded-end-5"
        (click)="changeTab('Designations')"
        [ngClass]="
          currentComponent == 'Designations' ? 'btn-dark' : 'btn-light'
        "
      >
        Designations
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="currentComponent == 'Roles'">
    <app-roles></app-roles>
  </div>
  <div class="col-12" *ngIf="currentComponent == 'Designations'">
    <app-designation></app-designation>
  </div>
</div>
